nav {
  background-color: rgb(2, 37, 108);
  color: white;
  display: flex;
  justify-content: space-between;
}

.nav_item {
  padding: 0.5rem 0.75rem;
  margin: 0.4rem 0.25rem;
  font-size: 1.125rem;
}

a.nav_item {
  color: white;
  text-decoration: none;
}

.logo {
  flex: 1;
}

input.nav_item {
  border-radius: 5%;
  margin-left: 1rem;
  margin-right: 0.5rem;
}

button {
  -webkit-appearance: none;
}

input.search_button {
  color: black;
  background-color: rgb(81, 202, 0);
  border: 2px solid orange;
  border-radius: 10%;
  font-size: 1rem;
  font-weight: bold;
  margin-right: 1rem;
}

input.search_button:hover {
  background-color: chartreuse;
  border-color: coral;
}

input.search_button:active {
  background-color: darkgreen;
  border-color: darkorange;
}
